.search-api-entity-status-enabled,
.search-api-entity-status-disabled {
  display: block;
  width: 12px;
  height: 12px;
}

.search-api-entity-status-enabled {
  background-image: url('../images/enabled.png');
}

.search-api-entity-status-disabled {
  background-image: url('../images/disabled.png');
}

/*
 * VIEW SERVER
 */

.search-api-server-summary ul.inline {
  margin: 0;
}

.search-api-server-summary ul.inline li {
  padding-left: 0;
}

#search-api-overview tr {
  border: none;
}

#search-api-overview tr.odd-group,
#search-api-overview tr.odd-group:hover {
  background-color: #ddd;
}
#search-api-overview tr.even-group,
#search-api-overview tr.even-group:hover {
  background-color: #fff;
}

#search-api-service-config-form .messages,
#search-api-datasource-config-form .messages {
  margin-left: 20px;
  margin-right: 20px;
}
